body{
	font-size: 16px;
	color: #fff;
	background-color: white;
	font-family: 'oxygen' , sans-serif ;
}
#header-nav{
	background-color: #696969 ;
	border-radius: 0;
	border:0;
}

.navbar-brand {/*brand name*/
font-family: 'Lora', serif;
color: black;
font-size: 1.5em;
/*text-transform: uppercase;*/
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
}

.navbar-inverse {
    background-color: #808080;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
	}

#main{
	color: #000000;
	font-style:'Lora',serif;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-bottom: 35px;
}


.head1 h2{
font-size: 1.1em;
color: #000000;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
}
.head2 h2{
font-size: 1.1em;
color: #000000;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
}
.head3 h2{
font-size: 1.1em;
color: #000000;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
}


.head1 p{
	color: #000000;
	font-weight: bold;
	font-size: 0.9em;
	margin-right: 5px;
	margin-left: 5px;
}
.head2 p{
	color: #000000;
	font-weight: bold;
	font-size: 0.9em;
	margin-right: 5px;
	margin-left: 5px;
}
.head3 p{
	color: #000000;
	font-weight: bold;
	font-size: 0.9em;
	margin-right: 5px;
	margin-left: 5px;
}

*{
	box-sizing: border-box;}


.head1 {
	background-color: #808080 ;
	
	margin-right: 2px;
	float: left;
	
}
.head2 {
	background-color: #808080 ;
	
	margin-right: 2px;
	float: left;
	
}
.head3 {
	background-color: #808080 ;
	
	margin-right: 2px;
	float: left;
	
}	

/*FOR MEDIUM DEVICES*/
@media  (min-width: 768px) and (max-width: 991px){
.head3{
	margin-top: 30px;
}
}

@media(max-width: 767px){
	.head2{
		margin-top:30px; 
	}

	.head3{
		margin-top:30px; 
	}
	
}


.menuall p{
	color: #000000;
	font-weight: bold;
	font-size: 0.9em;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 20px;

}


.menuall h2{
	font-size: 1.1em;
color: #000000;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
}

.menuall{
background-color: #808080 ;
	
	margin-right: 5px;
	margin-left: 5px;
	float: left;

}


